<h2>{{ data.sections.headline }}</h2>
<h3>{{ data.sections.subheadline }}</h3>

<p>{{ data.sections.intro }}</p>

<h4>Responsibilities</h4>
<ul>
  {% for r in data.sections.responsibilities %}
  <li>{{ r }}</li>
  {% endfor %}
</ul>

<h4>Requirements</h4>
<ul>
  {% for r in data.sections.requirements %}
  <li>{{ r }}</li>
  {% endfor %}
</ul>

{% if data.sections.nice_to_have %}
<h4>Nice to Have</h4>
<ul>
  {% for n in data.sections.nice_to_have %}
  <li>{{ n }}</li>
  {% endfor %}
</ul>
{% endif %}

<h4>What We Offer</h4>
<ul>
  {% for o in data.sections.offer %}
  <li>{{ o }}</li>
  {% endfor %}
</ul>

<h4>Why Join Us</h4>
<p>{{ data.sections.why_us }}</p>

<!-- <h4>How to Apply</h4>
<p>{{ data.sections.cta }}</p> -->